# ignoe the gpx, hr_streams and power_streams folders
gpx/
hr_streams/
power_streams/
garmin_probe_output/
garmin_activity_details/
garmin_originals/
fit_files/

# .pyc files
*.pyc

# .json files
*.json

strava_tokens.json
